{% extends "base.html" %}
{% block title %}
Investment - Learn by Games
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/investment-learn-by-games.css') }}">
{% endblock %}

{% block content%}
<div class="investment-games-container">
    <h1>Learn by Games</h1>
    <div class="explore-games">
        <div>
            <a href="/investment/investment_portfolio_simulator">Investment Portfolio Simulator</a>
        </div>
        <div>
            <a href="#">Game 2</a>
        </div>
        <div>
            <a href="#">Game 3</a>
        </div>
    </div>
</div>
{% endblock %}